.jumbotron
{
  background-color: $gold;
  color: black;
  margin-bottom: 0px;
  margin-top: 40px;
}

.btn
{
  background-color: white;
  color: black;
}

body
{
  background-color: $gold;
}

.home_main_body
{
  background-color: #257CFF;
  color: black;
  padding-top: 3%;
  padding-bottom: 3%;
}

.main_body
{
  background-color: #257CFF;
  color: black;
  padding-top: 6%;
  padding-bottom: 3%;
}

footer
{
  padding: 10px 10px 0 10px;
  margin-bottom: 0px;
  margin-top: 0px;
  background-color: $gold;
}

.card-cb
{
  flex: 1 150px;
  padding: 20px 2px 2px 2px;
}

.navbar
{
  background-image: linear-gradient(#B30006, #257CFF);
}

a.nav-link
{
  color: black;
}

ion-icon
{
  font-size: 170%;
}

.card-img-top
{
  height: inherit;
  width: inherit;
}

.nav-pills
{
  margin-bottom: 8px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link
{
  background-color: #17A2E8;
}

button.btn.btn-outline-success
{
  margin-top: 12px;
  width: inherit;
}

button.btn.btn-danger
{
  margin-top: 12px;
  width: inherit;
}
